{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
    {% for user in users %}
        {% if app.user.id != user.id %}
        <li>{{user.email}}</li>
        {% endif %}
    {% endfor %}
</ul>
<ul>
    {% for conversation in conversations %}
    <li>{{conversation.lastMessage}}</li>
    {{dump(conversation)}}
    {% endfor %}
</ul>
{% endblock %}
